
article{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: fit-content;
    padding: 20px;
    margin: 50px auto;
    background-color: lightgray;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
}
