*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: bisque;
}

.container{
    display: flex;
    border: 1px black solid;
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 50px;
}

.b1{
    background-color: blue;
    color: white;
}

.b2{
    background-color: red;
    color: white;
}

.b3{
    background-color: green;
    color: white;
}